@import '../index.scss';

#logo-small {
  margin-top: 10px;
  transition: all .2s ease-in-out;
}

#logo-small:hover {
  transform: scale(1.1);
}

#menu {
  margin-top: 5px;
  opacity: 1;
  transition: all .2s ease-in-out;
}

#menu:hover {
  transform: scale(1.1);
}

@media #{$small-and-down} {
  #logo-small {
    width: 75px;
  }

  #menu {
    width: 80px;
  }
}
