// Styles
* {
  box-sizing: border-box;
}


.score {
  margin: 15px 0;
  font-weight: 100;
  font-size: 48px;
}

.scene {
  display: flex;
  justify-content: space-evenly;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}


.controls {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  place-self: center;
}

#roll {
  margin-top: 50px;
}


// Dice
.dice-display {
  width: 150px;
  height: 150px;
  perspective: 450px;
}

.dice {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-75px);
  transition: transform 0.4s;
}

.face {
  position: absolute;
  width: 150px;
  height: 150px;
  display: grid;
  grid-template-columns: 50px, 50px, 50px;
  grid-template-rows: 50px, 50px, 50px;
  border: 1px solid hsla(0, 100%, 50%, 0.2);
  color: whitesmoke;
  font-size: 24pt;
}

/* 3 */
.face-front {
  background: hsla(0, 100%, 50%, 0.6);
  transform: rotateY(0deg) translateZ(75px);
}

.front-pip-1 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  place-self: center;
}
.front-pip-2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  place-self: center;
}
.front-pip-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  place-self: center;
}

/* 4 */
.face-back {
  background: hsla(0, 100%, 50%, 0.6);
  transform: rotateY(180deg) translateZ(75px);
}

.back-pip-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  place-self: center;
}

.back-pip-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  place-self: center;
}

.back-pip-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  place-self: center;
}

.back-pip-4 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  place-self: center;
}

/* 5 */
.face-right {
  background: hsla(0, 100%, 50%, 0.6);
  transform: rotateY(90deg) translateZ(75px);
}

.right-pip-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  place-self: center;
}

.right-pip-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  place-self: center;
}

.right-pip-3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  place-self: center;
}

.right-pip-4 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  place-self: center;
}

.right-pip-5 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  place-self: center;
}

/* 2 */
.face-left {
  background: hsla(0, 100%, 50%, 0.6);
  transform: rotateY(-90deg) translateZ(75px);
}

.left-pip-1 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  place-self: center;
}

.left-pip-2 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  place-self: center;
}

/* 1 */
.face-top {
  background: hsla(0, 100%, 50%, 0.6);
  transform: rotateX(90deg) translateZ(75px);
}

.top-pip-1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  place-self: center;
}

.top-blank-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  place-self: center;
}

.top-blank-2 {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  place-self: center;
}

/* 6 */
.face-bottom {
  background: hsla(0, 100%, 50%, 0.6);
  transform: rotateX(-90deg) translateZ(75px);
}

.bottom-pip-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  place-self: center;
}

.bottom-pip-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  place-self: center;
}

.bottom-pip-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  place-self: center;
}

.bottom-pip-4 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  place-self: center;
}

.bottom-pip-5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  place-self: center;
}

.bottom-pip-6 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  place-self: center;
}


//Animation

.idle {
  animation: idle linear infinite 6s;
}

@keyframes idle {
    from {
        transform: translateZ(-75px) rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: translateZ(-75px) rotateX(360deg) rotateY(360deg);
    }
}

.spin {
	animation: spin 0.8s linear 1;
}

@keyframes spin {
  0% {
    -webkit-transform: translateZ(-75px) scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: translateZ(-75px) scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: translateZ(-75px) scale(1.4) rotate3d(-1, 1, 0, 180deg);
            transform: translateZ(-75px) scale(1.4) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: translateZ(-75px) scale(1) rotate3d(-1, 1, 0, 360deg);
            transform: translateZ(-75px) scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}

.show-top    { transform: translateZ(-75px) rotateX(-90deg); }
.show-front  { transform: translateZ(-75px) rotateY(   0deg); }
.show-right  { transform: translateZ(-75px) rotateY( -90deg); }
.show-back   { transform: translateZ(-75px) rotateY(-180deg); }
.show-left   { transform: translateZ(-75px) rotateY(  90deg); }
.show-top    { transform: translateZ(-75px) rotateX( -90deg); }
.show-bottom { transform: translateZ(-75px) rotateX(  90deg); }